<html>
<head>
    <title>Döviz Detayı</title>
    <meta charset="utf-8">
</head>
<body>
    ID: <%= data.id %><br />
    İsim: <%= data.name %><br />
    Sembol: <%= data.symbol %><br />
    Rank: <%= data.rank %><br />
    Değer: <%= data.price_usd %> USD<br />
    Market Hacmi: <%= data.market_cap_usd %> USD<br />
</body>
</html>