<html>
<head>
    <title>Döviz Detayı</title>
    <meta charset="utf-8">
</head>
<body>
    ID: <%= data[0].id %><br />
    İsim: <%= data[0].name %><br />
    Sembol: <%= data[0].symbol %><br />
    Rank: <%= data[0].rank %><br />
    Değer: <%= data[0].price_usd %> USD<br />
    Market Hacmi: <%= data[0].market_cap_usd %> USD<br />
</body>
</html>